<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>Markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>494975016.74509501</real>
				<key>version</key>
				<dict>
					<key>5e12710991f90237d656ddaf87fa9d61e3f976b95cb15bedf2d7a05735391829</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Outline-of-his-life.md</key>
			<dict>
				<key>lastModification</key>
				<real>494975016.74509698</real>
				<key>version</key>
				<dict>
					<key>5e12710991f90237d656ddaf87fa9d61e3f976b95cb15bedf2d7a05735391829</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>494975016.74509603</real>
				<key>version</key>
				<dict>
					<key>5e12710991f90237d656ddaf87fa9d61e3f976b95cb15bedf2d7a05735391829</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Workshop_Instructions.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>495024423.57976598</real>
				<key>lastModification</key>
				<real>495024423.57976598</real>
				<key>version</key>
				<dict>
					<key>5e12710991f90237d656ddaf87fa9d61e3f976b95cb15bedf2d7a05735391829</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>workshop_sample.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>495210990.73640698</real>
				<key>lastModification</key>
				<real>495210990.73640698</real>
				<key>version</key>
				<dict>
					<key>5e12710991f90237d656ddaf87fa9d61e3f976b95cb15bedf2d7a05735391829</key>
					<integer>8</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Markdown.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>Outline-of-his-life.md</string>
		</array>
		<array>
			<string>workshop_sample.md</string>
		</array>
		<array>
			<string>Workshop_Instructions.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>5e12710991f90237d656ddaf87fa9d61e3f976b95cb15bedf2d7a05735391829</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>5e12710991f90237d656ddaf87fa9d61e3f976b95cb15bedf2d7a05735391829</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>
